/**
 * bootpolish.css
 * Styles for the Bootpolish widget.
 */

#bootpolish-widget {
	margin: 	0;
	top: 		60px;	
	width: 		300px;
	left: 		20px;
	bottom:		30px;
	opacity:	1.0;
}

#bootpolish-widget .close {
	opacity:	1.0;
	margin-top:	5px;
}

#bootpolish-widget .icon-chevron-right { display: none; }

#bootpolish-widget > .modal-header {
	cursor: 	pointer;
}

#bootpolish-widget > .modal-body {
	max-height:		300px;
	overflow:		auto;
	margin-bottom: 	0;
}


/* 'Closed' widget. */
#bootpolish-widget.closed {	
	left:		-260px;
	opacity:	0.25;
}

#bootpolish-widget.closed .icon-chevron-right { display: inline-block; }
#bootpolish-widget.closed .icon-chevron-left  { display: none; }

#bootpolish-widget.closed > .modal-body,
#bootpolish-widget.closed > .modal-footer {
	display: none;
}