<style type="text/css">
	#bootpolish-widget {
		margin: 		0;
		top: 			60px;	
		width: 			320px;
		left: 			-10px;
		opacity:		1.0;
	}

	#bootpolish-widget .close {
		opacity:	1.0;
		margin-top:	5px;
	}

	#bootpolish-widget .icon-chevron-right {
		display: none;
	}

	#bootpolish-widget > .modal-header {
		cursor: 		pointer;
		padding-left:	20px;
	}

	#bootpolish-widget > .modal-body {
		max-height:		300px;
		overflow:		auto;
		margin-bottom: 	0;
		padding-left:	20px;
	}


	/* 'Closed' widget. */
	#bootpolish-widget.closed {	
		left:		-280px;
		opacity:	0.25;
	}

	#bootpolish-widget.closed .icon-chevron-right { display: inline-block; }
	#bootpolish-widget.closed .icon-chevron-left  { display: none; }

	#bootpolish-widget.closed > .modal-body,
	#bootpolish-widget.closed > .modal-footer {
		display: none;
	}
</style>