<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" href="#" data-toggle="collapse" data-target="#bootpolish-widget-{{name}}" data-parent="#bootpolish-widget">{{description}}</a>
  </div>
  <div class="accordion-body collapse" id="bootpolish-widget-{{name}}">
    <div class="accordion-inner">
      {{#variables}}
      	{{> variable}}
      {{/variables}}
    </div>
  </div>
</div>