<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" href="#" data-toggle="collapse" data-target="#bootpolish-widget-links" data-parent="#bootpolish-widget">Links</a>
  </div>
  <div class="accordion-body collapse in" id="bootpolish-widget-links">
    <div class="accordion-inner">
      Links
    </div>
  </div>
</div>